In [1]:
from pycaret.regression import * 
import pandas as pd
from sklearn.decomposition import PCA

In [2]:
data = pd.read_csv("train.csv")

In [3]:
need = ["상대 습도 (%)","섭씨 온도(°⁣C)","대기압(mbar)","공기 밀도 (g/m**3)","수증기 함량 (g/kg)","풍속 (m/s)","풍향 (deg)"]

In [4]:
datas = data[need]

In [5]:
import random
random_alpha = []
for i in range(5):
    random_alpha.append(float(str(random.random())[:4]))
random_alpha

[0.34, 0.35, 0.55, 0.53, 0.04]

In [6]:
datas_copy = datas.copy()
for i in random_alpha:
    temp_df = datas.copy()
    temp_df = temp_df*i
    datas_copy = pd.concat([datas_copy, temp_df])
    datas_copy = pd.concat([datas_copy, datas.copy()])

In [7]:
datas_copy

,상대 습도 (%),섭씨 온도(°⁣C),대기압(mbar),공기 밀도 (g/m**3),수증기 함량 (g/kg),풍속 (m/s),풍향 (deg)
0,76.10,13.97,992.08,1198.06,7.66,1.61,155.60
1,73.30,16.94,991.07,1183.67,8.94,1.68,177.00
2,74.20,9.76,988.71,1213.22,5.67,0.73,146.20
3,83.50,5.27,1014.25,1265.48,4.57,2.71,264.50
4,74.00,17.35,995.77,1187.40,9.22,1.00,19.34
...,...,...,...,...,...,...,...
36576,54.15,14.10,993.53,1200.85,5.48,0.77,292.90
36577,70.70,3.80,988.03,1240.06,3.58,8.97,210.50
36578,81.00,20.06,977.90,1153.24,12.20,2.58,19.22
36579,52.81,25.65,988.39,1144.61,11.03,0.36,225.40
36580,91.40,3.14,1000.01,1257.47,4.37,4.33,30.67

In [8]:
datas_copy = datas_copy.reset_index().drop("index",axis=1)

In [9]:
reg = setup(datas_copy, target = '풍속 (m/s)',normalize=True,normalize_method="robust")

In [10]:
best_model_3 = compare_models(sort = 'MAE', n_select=3)

In [11]:
blender_3 = blend_models(best_model_3,optimize="MAE",return_train_score=True)

Initiated  . . . . . . . . . . . . . . . . . .          15:51:35
Status     . . . . . . . . . . . . . . . . . .  Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Voting Regressor

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [ ]:
blender_3_tune = tune_model(blender_3,optimize="MAE",return_train_score=True)